{% extends "base.html" %}

{% block title %}Bad Request (400){% endblock %}

{% block content %}
    <h1>Ce ai facut? Ai stricat totul (400)</h1>

    <p>Ai primit o eroare 400, ceea ce inseamna ca ai facut ceva complet neasteptat si ai stricat totul. Nu-ti face griji, se intampla celor mai buni dintre noi. Insa, trebuie sa recunoastem, ai cam facut-o de oaie.</p>
    
    <p>Cred ca ar trebui sa ne concentram pe repararea lucrurilor acum. Asadar, intre timp, mai bine nu mai apesi pe nicio alta tasta. Poate ar fi mai bine sa mergi sa te plimbi prin parc, sa iti iei un sandwich bun sau sa-ti uzi plantele. In caz contrar, cine stie ce altceva ai putea strica?</p>
{% endblock content %}
