{% extends "base.html" %}

{% block title %}Forbidden (403){% endblock %}

{% block content %}
    <h1>Nu esti autorizat sa accesezi aceasta pagina (403)</h1>

    <p>Ups, pare ca ai intampinat o problema cu autorizarea. Dar nu te ingrijora, am toti avut astfel de momente. Oricum, daca tot te afli aici, ar trebui sa te relaxezi si sa te simti ca acasa. Doar nu vrei sa stai pe margine tot timpul, nu-i asa?</p>
    
    <p>In timp ce ne ocupam de problema ta, poate ar trebui sa te gandesti la lucruri mai placute. Un pahar cu vin, o muzica buna sau poate sa te joci cu pisica. Cine stie, poate chiar si un dans ciudat te-ar ajuta sa te simti mai bine. In orice caz, nu te descuraja si nu uita sa te distrezi!</p>
{% endblock content %}
