{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
    <h1>Nu putem gasi ceea ce cauti (404)</h1>

    <p>Se pare ca am cautat prea mult in dulapul cu cuvinte si am aruncat cu totul ce era in acelasi loc. Trebuie sa ma intorc la "Organizarea cuvintelor", si poate sa nu mai tin la ceea ce zic cuvintele ca doar sunt cuvinte. Ai vreo idee cum am putea sa gasim ceea ce cauti?</p>

    <p>Si daca totusi nu gasim ceea ce cauti, hai sa facem cumva sa ne distram de asta! Poate sa te invat sa jonglezi cu chei sau sa te invat cum sa dansezi salsa. Orice altceva, decat sa-ti mai dau o eroare 404!</p>
{% endblock content %}
