{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
    <h1>Oooops, a avut loc o eroare neasteptata (500)</h1>

    <p>Se pare ca am intrat intr-un balon de cuvant. Am folosit prea multe cuvinte - sau poate prea putine - si am incurcat totul. Trebuie sa-mi aduc aminte sa nu ma suprasolicitez, sa-mi intorc telefonul la timp si sa nu mananc niciodata cheile de la masina. Cine stie ce s-ar putea intampla?</p>

    <p>Cat despre tine, nu te face ca nu ai avut niciodata o zi rea. Incercam sa corectam problemele cat mai repede posibil. Daca nu, hai sa ne intalnim si sa povestim despre vremurile bune.</p>
{% endblock content %}
