<nav class="nav  justify-content-center justify-content-sm-end">
    <a class="nav-link link-secondary px-1" href="tel:+40721697233">072.169.7233</a>
    <a class="nav-link link-secondary px-1" href="tel:+40744667233">074.466.7233</a>
    <a class="nav-link link-secondary px-1 me-md-5" href="mailto:contact@paff.ro">contact@paff.ro</a>
</nav>
<nav class="navbar navbar-fixed-top   navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand  h1">

            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="42.961487mm"
                    height="13.248129mm"
                    viewBox="0 0 42.961487 13.248129"
                    id="svg8">


                <g id="layer1" transform="translate(-27.970385,-41.321818)">
                    <g aria-label="PAFF" transform="matrix(0.41245731,0,0,0.41245731,-15.632475,-23.094508)">
                        <path
                                d="m 121.71484,182.45695 h -2.92 q 0,3.68 -2.88,5.12 -1.44,0.72 -2.92,0.72 h -1.48 q -3.6,0 -5.08,-2.92 -0.72,-1.44 -0.72,-2.92 v -16 q 0,-6.36 5.08,-8.88 2.56,-1.28 5.12,-1.28 h 5.8 q 6.4,0 8.92,5.08 1.28,2.56 1.28,5.08 v 5.84 q 0,6.32 -5.12,8.88 -2.56,1.28 -5.08,1.28 z m 5.8,-16 q 0,-3.64 -2.88,-5.08 -1.44,-0.72 -2.92,-0.72 h -5.8 q -3.64,0 -5.12,2.92 -0.72,1.44 -0.72,2.88 v 16 q 0,1.48 1.44,1.48 h 1.48 q 1.44,0 1.44,-1.48 v -14.52 q 0,-1.48 1.48,-1.48 h 5.8 q 1.36,0 1.44,1.48 -0.08,1.44 -1.44,1.44 h -4.36 q -1.44,0 -1.44,1.44 v 5.84 q 0,1.44 1.44,1.44 h 4.36 q 3.64,0 5.08,-2.92 0.72,-1.44 0.72,-2.88 z"
                                id="path18"
                                style=""/>
                        <path
                                d="m 149.19478,156.17695 h -5.8 q -6.36,0 -8.92,4.76 -1.28,2.4 -1.28,4.72 v 6.52 q 0,6.4 5.08,8.92 2.56,1.28 5.12,1.28 h 4.36 q 2,0 2.16,-2.2 0,2.2 2.2,2.2 h 0.72 q 6,0 6.56,-5.8 v -10.2 q 0,-6.36 -5.12,-8.92 -2.56,-1.28 -5.08,-1.28 z m 5.8,20.4 q 0,1.44 -1.44,1.44 h -1.44 q -1.48,0 -1.48,-1.44 v -8.76 q 0,-1.44 -1.44,-1.44 h -5.8 q -1.36,0 -1.48,1.44 0.12,1.48 1.48,1.48 h 4.36 q 1.44,0 1.44,1.44 v 5.84 q 0,1.44 -1.44,1.44 h -4.36 q -3.64,0 -5.12,-2.92 -0.72,-1.44 -0.72,-2.92 v -5.8 q 0,-3.64 2.92,-5.08 1.44,-0.72 2.92,-0.72 h 5.8 q 3.64,0 5.08,2.88 0.72,1.44 0.72,2.92 z"
                                id="path20"
                                style=""/>
                        <path
                                d="m 165.03471,166.33695 q 0,-1.48 0.72,-2.92 1.44,-2.88 5.12,-2.88 h 8 q 1.44,0 1.44,1.44 v 2.92 q 0,1.44 -1.44,1.44 h -8 q -1.36,0 -1.48,1.44 0.12,1.48 1.48,1.48 h 8 q 1.44,0 1.44,1.44 v 5.84 q 0,1.44 -1.44,1.44 h -8 q -1.48,0 -1.48,1.44 v 2.92 q 0,1.44 -1.44,1.44 h -1.48 q -1.44,0 -1.44,-1.44 z m 5.84,-10.16 q -6.36,0 -8.92,5.08 -1.28,2.56 -1.28,5.08 v 16 q 0,3.6 2.92,5.08 1.52,0.76 2.88,0.76 h 1.48 q 5.4,0 5.8,-5.84 h 5.12 q 5.8,0 5.8,-5.08 v -6.56 q 0,-2.68 -2.92,-2.92 0.4,0.12 0.72,0.12 2.2,0 2.2,-3 v -2.92 q 0,-3.64 -2.92,-5.08 -1.44,-0.72 -2.88,-0.72 z"
                                id="path22"
                                style=""/>
                        <path
                                d="m 190.23468,166.33695 q 0,-1.48 0.72,-2.92 1.44,-2.88 5.12,-2.88 h 8 q 1.44,0 1.44,1.44 v 2.92 q 0,1.44 -1.44,1.44 h -8 q -1.36,0 -1.48,1.44 0.12,1.48 1.48,1.48 h 8 q 1.44,0 1.44,1.44 v 5.84 q 0,1.44 -1.44,1.44 h -8 q -1.48,0 -1.48,1.44 v 2.92 q 0,1.44 -1.44,1.44 h -1.48 q -1.44,0 -1.44,-1.44 z m 5.84,-10.16 q -6.36,0 -8.92,5.08 -1.28,2.56 -1.28,5.08 v 16 q 0,3.6 2.92,5.08 1.52,0.76 2.88,0.76 h 1.48 q 5.4,0 5.8,-5.84 h 5.12 q 5.8,0 5.8,-5.08 v -6.56 q 0,-2.68 -2.92,-2.92 0.4,0.12 0.72,0.12 2.2,0 2.2,-3 v -2.92 q 0,-3.64 -2.92,-5.08 -1.44,-0.72 -2.88,-0.72 z"
                                id="path24"
                                style=""/>
                    </g>
                </g>
            </svg>
        </a>
        <button type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="navbar-toggler"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse   navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ">
                    <a href="{% url "calculator:home" %}" class="nav-link h5 ">
                        Calculator cutii
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle h5"
                       id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Produse
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for c in categorii %}
                            <li class="dropdown-item">
                                <a href="{{ c.get_absolute_url }}" class="nav-link">{{ c.nume }}</a></li>
                        {% endfor %}
                    </ul>
                </li>


                <li class="nav-item dropdown mx-3">
                    <a href="#" class="nav-link dropdown-toggle h5"
                       id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {% if request.user.is_authenticated %}
                            {{ user.username|capfirst }}

                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item"><a class="nav-link" href="#">{{ user.email }}</a></li>
                            <li class="dropdown-item"><a class="nav-link" href="#">Top produse comandate</a></li>
                            <li class="dropdown-item"><a class="nav-link" href="#">Produse favorite</a></li>
                            <li class="dropdown-item"><a class="nav-link" href="#">Comenzile mele</a></li>
                            <li class="dropdown-item"><a class="nav-link" href="#">Adresele mele</a></li>
                            <li class="dropdown-item"><a class="nav-link" href="#">Firmele mele</a></li>
                            <li class="dropdown-item"><a class="nav-link" href="#">Setari</a></li>
                            <li class="dropdown-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            </li>


                        {% else %}
                            Cont


                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>

                            <li class="dropdown-item"><a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                            </li>
                        {% endif %}

                        </ul>
                        </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a href="{% url "cart:cart_detail" %}" class="nav-link  h5" id="navbarDropdown"
                               role="button" aria-expanded="false">

                                <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
</svg>
                        </span>

                                {% with total_items=cart|length %}
                                    {% if total_items > 0 %}



                                        <span class="fw-lighter">({{ total_items }} bucati / {{ cart.get_total_price|floatformat:0 }} Lei)</span>

                                    {% else %}

                                    {% endif %}
                                {% endwith %}

                            </a>

                    </ul>
            </ul>
        </div>
    </div>
</nav>
