{% raw %}{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
<h1>{% translate "Verify Your E-mail Address" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktranslate %}Aceasta parte a site-ului necesita verificarea faptului ca sunteti persoana pe care o pretindeti a fi. In acest scop, este necesar sa verificati autenticitatea adresei dvs. de e-mail. {% endblocktranslate %}</p>

<p>{% blocktranslate %}V-am trimis un e-mail de verificare. Va rugam sa faceti clic pe linkul din acest e-mail. Va rugam sa ne contactati daca nu il primiti in cateva minute.{% endblocktranslate %}</p>

<p>{% blocktranslate %}<strong>Notă:</strong> încă poți <a href="{{ email_url }}">schimba adresa de email</a>.{% endblocktranslate %}</p>
{% endblock %}
{%- endraw %}
